/*Originally had font-family defined in all the brackets, but it seemed redundant.*/
body {
  font-family: Helvetica;
}

h1 {
  /* Attempted to use local path "resources/pattern.jpeg" for the image and it utterly failed me */
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

/* Divided h2 to leave less to the ID's. Would it have been better to leave the h2 text in each of the ID's for future expansions?*/
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brush h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
